<!DOCTYPE html>
<html>
  <head>
    <title>FCC URL shortener microservice</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body class="container">
    <header>
      <h1>
        FCC URL shortener microservice
      </h1>
    </header>

    <main class="jumbotron" style="background-color: rgb(250,250,250);">
      <h2>
        User stories:
      </h2>
      <blockquote>
          <p>
            I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
          </p>
          <p>
            When I visit that shortened URL, it will redirect me to my original link.
          </p>     
      </blockquote>
      <h2>
        Example creation usage:
      </h2>
      <pre>
        https://shortener.glitch.me/new/https://www.google.com
        https://shortener.glitch.me/new/http://foo.com:80
      </pre>
      <h2>
        Example creation output:
      </h2>
      <pre>
        { "original_url":"http://foo.com:80", "short_url":"https://shortener.glitch.me/8170" }
      </pre>
      <h3>
        Usage:
      </h3>
      <pre>
        https://shortener.glitch.me/0
      </pre>
      <h3>
        Will redirect to:
      </h3>
      <pre>
        https://www.google.com/
      </pre>      
    </main>

    <footer>
      <p>
        <a href="https://glitch.com">
          Remix this in Glitch
        </a>        
      </p>
      <p>
        <a href="https://github.com/barottomartin/fcc-shortener">
          Source code
        </a>
      </p>
    </footer>
  </body>
</html>